@charset "utf-8";
body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    /*outline: none;*/
    z-index: 0;
}

#deviceready{
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    /*background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/coocaaAct/618iqiyi.png");*/
}
.choiceTab{
    background: #fff;
}
.choiceTab.btnFocus{
    background: skyblue;
    color: white;
}
