* {
	margin: 0;
	padding: 0;
}
body {
	width: 1920px;
	height: 1080px;
	background-image: url('../images/taskcenter/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#deviceready>div {
	position: absolute;
	width: 100%;
	height: 100%;
}
/*任务中心首页*/
.taskItemClassBig {
	display: inline-block;
	position: absolute;
	top: 315px;
	left: 415px;
	width: 552px;
	height: 323px;
	background-image: url(../images/taskcenter/divbig.png);
	background-repeat: no-repeat;
	background-position: 15px,25px;
}
.taskItemClassBig:nth-child(2) {
	left: 960px;
}
.taskItemClassBig[class~='btn-focus'] {
	background-image: url(../images/taskcenter/divbigfocus.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0,0;
}
.taskItemClass {
	display: inline-block;
	position: absolute;
	top: 608px;
	left: 375px;
	width: 393px;
	height: 304px;
	background-image: url(../images/taskcenter/divsmall.png);
	background-repeat: no-repeat;
	background-position: 14px,25px;
}
.taskItemClass:nth-child(4) {
	left: 765px;
}
.taskItemClass:nth-child(5) {
	left: 1150px;
}
.taskItemClass[class~='btn-focus'] {
	background-image: url(../images/taskcenter/divsmallfocus.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0,0;
}
[class^=taskItemClass] div{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.taskIconClass {
	top: 45px;
	width: 126px;
	height: 126px;
	background-image: url(../images/taskcenter/taskbrowser.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.taskTipsClass {
	top: 182px;
	width: 100%;
	height: 32px;
	line-height: 32px;
	font-size: 24px;
	text-align: center;
	color: #FFD6A9;
}
.taskItemClass .taskTipsClass {
	top: 172px;
}
.taskTipsClass span {
	font-size: 33px;
	color: #FFDC39;
}
.taskBtnClass{
	bottom: 6px;
	width: 167px;
	height: 62px;
	background-repeat: no-repeat;
	background-size: cover;
}
.taskItemClass .taskBtnClass {
	bottom: 4px;
}

/*微信助力二维码页面*/
.wechatHelpPageClass {
	background-image: url(../images/taskcenter/wechatBg.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
}
.wechatHelpContainerClass {
	position: absolute;
	top: 370px;
	left: 700px;
	width: 500px;
	height: 500px;
}
.wechatHelpContainerClass div{
	position: relative;
	left: 50%;
	width: 100%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}
.wechatHelpTipsClass {
	height: 48px;
	line-height: 48px;
	font-size: 32px;
	font-weight: bold;
	color: #AC1800;
	margin-top: 15px;
}
.wechatHelpTipsClass span {
	font-size: 36px;
}
#wechatQrCodeId {
	width: 320px;
	height: 320px;
	border: 5px solid white;
	background-color: white;
}

/*弹窗类通用*/
.taskcenterToastPageClass {
	background-color: rgba(0,0,0,0.8) ;
	display: none;
}
.taskcenterToastClass {
	position: relative;
	top: 512px;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
}
/*互动问答页面*/ 
#interlucationQuestionToastId{
	width: 716px;
	height: 369px;
	background-image: url(../images/taskcenter/interlucationBg.png);
}
#interlucationAnswerToastId{
	width: 716px;
	height: 369px;
	background-image: url(../images/taskcenter/interlucationBgRight.png);
}
.taskcenterToastClass div{
	position: absolute;
	text-align: center;
	font-weight: bold;
	color: white;
}
.interlucationTitleClass {
	font-size: 32px;
	width: 100%;
	top: 75px;
}
.interlucationTitleClass span {
	color: rgb(255,246,0);
}
#interlucationAnswerToastId .interlucationTitleClass {
	top: 210px;
}
.interlucationBtnClass {
	top: 153px;
	left: 45px;
	width: 308px;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	background-image: url(../images/taskcenter/interlucationBtn.png);
	background-repeat: no-repeat;
	background-position: 16px,27px;
}
.interlucationBtnClass[class~=btn-focus] {
	background-image: url(../images/taskcenter/interlucationBtnFocus.png);
	background-position-x: 0;
	background-position-y: 23px;
}
#interlucationAnswerToastId .interlucationBtnClass {
	top: 240px;
}
.interlucationBtnClass:nth-child(3) {
	left: 368px;
}
#interlucationTipId {
	font-size: 20px;
	top: 257px;
	left: 280px;
}

/*任务完成弹窗页面*/
#taskcenterTaskHasDoneToastId{
	width: 716px;
	height: 369px;
	background-image: url(../images/taskcenter/interlucationBg.png);
}
#taskcenterTaskHasDoneToastId .taskcenterTaskHasDoneToastBtnFocusClass {
	top: 223px;
	left: 216px;
	width: 268px;
	height: 72px;
	background-image: url(../images/taskcenter/toastBtnFocus.png);
	background-repeat: no-repeat;
}
#taskcenterTaskHasDoneToastId .taskcenterTaskHasDoneToastBtnClass {
	top: 235px;
	left: 230px;
	width: 241px;
	height: 48px;
	line-height: 48px;
	font-size: 33px;
	color: #FFEEC2;
	background-image: url(../images/taskcenter/toastBtn.png);
	background-repeat: no-repeat;
}
#taskcenterTaskHasDoneToastId .interlucationTitleClass {
	top: 85px;
	font-size: 36px;
	line-height: 70px;
}
/*拆卡机会弹窗*/
#taskcenterDiscardToastId {
	width: 517px;
	height: 487px;
	background-image: url(../images/taskcenter/toastDiscardBg.png);
}
#taskcenterDiscardToastId .interlucationTitleClass {
	top: 275px;
	font-size: 32px;
	line-height: 40px;
}
#taskcenterDiscardToastId .taskcenterTaskHasDoneToastBtnFocusClass {
	top: 355px;
	left: 127px;
	width: 268px;
	height: 72px;
	background-image: url(../images/taskcenter/toastBtnFocus.png);
	background-repeat: no-repeat;
}
#taskcenterDiscardToastId .taskcenterTaskHasDoneToastBtnClass {
	top: 367px;
	left: 140px;
	width: 241px;
	height: 48px;
	line-height: 48px;
	font-size: 25px;
	color: #FFEEC2;
	background-image: url(../images/taskcenter/toastBtn.png);
	background-repeat: no-repeat;
}

/*付费商品展示页面*/
.moreGoodsPageClass {
	background-image: url(../images/taskcenter/moreGoodsBg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: none;	
}
#moregoodsList {
	position: absolute;
	top: 352px;	
	left: 104px;
	height: 728px;
	overflow: hidden;
}
.goodsItemClass {
	position: relative;
	display: inline-block;
	width: 342px;
	height: 306px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 0px 20px 0;
}
.goodsItemPlaceHolderClass {
	position: absolute;
	top: 11px;
	left: 11px;
	width: 319px;
	height: 284px;
	background-image: url(../images/taskcenter/moreGoodsItem.jpg);
	background-repeat: no-repeat;
}
.moreGoodsItemPic {
	position: absolute;
	top: 11px;
	left: 11px;
	width: 319px;
	height: 190px;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 2;
}
.moreGoodsItemDetailClass {
	position: absolute;
	width: 100%;
	height: 27px;
	line-height: 27px;
	color: #FFFFFF;
	font-weight: bold;
}
.moreGoodsItemTitleClass {
	top: 209px;
	left: 15px;
	font-size: 27px;
}
.moreGoodsItemPriceClass {
	top: 235px;
	left: 10px;
	font-size: 27px;
}
.moreGoodsItemFooterClass {
	top: 267px;
	font-size: 24px;
	text-align: center;
}

.moreGoodsTipClass {
	position: absolute;
	bottom: 10px;
	left: 12px;
	width: 319px;
	height: 30px;
	background-repeat: no-repeat;
	background-image: url(../images/taskcenter/moreGoodsBtn.jpg);	
	z-index: 2;
	display: none;
}
.goodsItemClass[class~=btn-focus] {
	background-image: url(../images/taskcenter/moreGoodsFocus.png);		
}
.goodsItemClass[class~=btn-focus] .moreGoodsTipClass {
	display: block;
}
