* {
	margin: 0;
	padding: 0;
}
body {
	width: 1920px;
	height: 1080px;
	background-image: url('../images/taskcenter/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

#deviceready>div {
	position: absolute;
	width: 100%;
	height: 100%;
}
/*任务中心首页*/
.taskItemClassBig {
	display: inline-block;
	position: absolute;
	top: 315px;
	left: 415px;
	width: 552px;
	height: 323px;
	background-image: url(../images/taskcenter/divbig.png);
	background-repeat: no-repeat;
	background-position: 15px,25px;
}
.taskItemClassBig:nth-child(2) {
	left: 960px;
}
.taskItemClassBig[class~='btn-focus'] {
	background-image: url(../images/taskcenter/divbigfocus.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0,0;
}
.taskItemClass {
	display: inline-block;
	position: absolute;
	top: 608px;
	left: 375px;
	width: 393px;
	height: 304px;
	background-image: url(../images/taskcenter/divsmall.png);
	background-repeat: no-repeat;
	background-position: 14px,25px;
}
.taskItemClass:nth-child(4) {
	left: 765px;
}
.taskItemClass:nth-child(5) {
	left: 1150px;
}
.taskItemClass[class~='btn-focus'] {
	background-image: url(../images/taskcenter/divsmallfocus.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0,0;
}
[class^=taskItemClass] div{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.taskIconClass {
	top: 45px;
	width: 126px;
	height: 126px;
	background-image: url(../images/taskcenter/taskbrowser.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.taskTipsClass {
	top: 182px;
	width: 100%;
	height: 32px;
	line-height: 32px;
	font-size: 24px;
	text-align: center;
	color: #FFD6A9;
}
.taskItemClass .taskTipsClass {
	top: 172px;
}
.taskTipsClass span {
	font-size: 33px;
	color: #FFDC39;
}
.taskBtnClass{
	bottom: 6px;
	width: 167px;
	height: 62px;
	background-repeat: no-repeat;
	background-size: cover;
}
.taskItemClass .taskBtnClass {
	bottom: 4px;
}

/*微信助力二维码页面*/
.wechatHelpPageClass {
	background-image: url(../images/taskcenter/wechatBg.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
}
.wechatHelpContainerClass {
	position: absolute;
	top: 370px;
	left: 700px;
	width: 500px;
	height: 500px;
}
.wechatHelpContainerClass div{
	position: relative;
	left: 50%;
	width: 100%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}
.wechatHelpTipsClass {
	height: 48px;
	line-height: 48px;
	font-size: 32px;
	font-weight: bold;
	color: #AC1800;
	margin-top: 15px;
}
.wechatHelpTipsClass span {
	font-size: 25px;
}
#wechatQrCodeId {
	width: 320px;
	height: 320px;
	border: 5px solid white;
	background-color: white;
}

/*互动问答页面*/
.taskcenterToastPageClass {
	background-color: rgba(0,0,0,0.8) ;
	display: none;
}

.taskcenterToastClass {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 890px;
	height: 576px;
	background-image: url('http://beta.webapp.skysrt.com/yuanbo/test/materials/toastxmas.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.taskcenterToastClass div{
	position: absolute;
	text-align: center;
	font-size: 36px;
	color: white;
}
.interlucationTitleClass {
	width: 100%;
	top: 30%;
}
.interlucationBtnClass {
	top: 55%;
	left: 20%;
	width: 220px;
	height: 50px;
	line-height: 50px;
	background-color: green;
	border: 2px solid black;
}
#interlucationPageId .interlucationBtnClass:nth-child(3) {
	left: 55%;
}
#toastWhenClickTaskHasDoneId .interlucationBtnClass{
	left: 40%;
}
/*付费商品展示页面*/
.moreGoodsPageClass {
	background-image: url('http://beta.webapp.skysrt.com/yuanbo/test/materials/bgenve.png');
	background-repeat: no-repeat;
	background-size: cover;
	display: none;	
}
#moregoodsList {
	position: absolute;
	top: 156px;	
	left: 180px;
	height: 924px;
	overflow: hidden;
}
.goodsItemClass {
	position: relative;
	display: inline-block;
	width: 301px;
	height: 332px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 10px 62px 0;
}
.goodsItemPlaceHolderClass {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('http://beta.webapp.skysrt.com/yuanbo/test/materials/goods-placeholder.png');
	background-repeat: no-repeat;
	background-size: 100%;
}
.packGoodsItemPic {
	position: absolute;
	top: 25px;
	left: 30px;
	width: 241px;
	height: 177px;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 2;
}
.goodsItemClass[class~=btn-focus] {
	background-image: url("http://beta.webapp.skysrt.com/yuanbo/test/materials/focus.png");		
}
