* {
	margin: 0;
	padding: 0;
}
body {
	width: 1920px;
	height: 1080px;
	background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/taskcenter/bg720p.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
#deviceready>div {
	position: absolute;
	width: 100%;
	height: 100%;
}
/*任务中心首页*/
.taskItemClass {
	display: inline-block;
	position: absolute;
	top: 450px;
	left: 375px;
	width: 393px;
	height: 304px;
	background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/taskcenter/divsmall.png);
	background-repeat: no-repeat;
	background-position: 14px,25px;
}
.taskItemClass:nth-child(2) {
	left: 765px;
}
.taskItemClass:nth-child(3) {
	left: 1150px;
}
.taskItemClass[class~='btn-focus'] {
	background-image: url(http://sky.fs.skysrt.com/statics/webvip/webapp/springfestival/taskcenter/divsmallfocus.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0,0;
}
[class^=taskItemClass] div{
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.taskIconClass {
	top: 45px;
	width: 126px;
	height: 126px;
	background-repeat: no-repeat;
	background-size: cover;
}
.taskTipsClass {
	top: 182px;
	width: 100%;
	height: 32px;
	line-height: 32px;
	font-size: 24px;
	text-align: center;
	color: #FFD6A9;
}
.taskItemClass .taskTipsClass {
	top: 172px;
}
.taskTipsClass span:last-child {
	font-size: 33px;
	color: #FFDC39;
}
.taskBtnClass{
	bottom: 6px;
	width: 167px;
	height: 62px;
	background-repeat: no-repeat;
	background-size: cover;
}
.taskItemClass .taskBtnClass {
	bottom: 4px;
}

/*弹窗类通用*/
.taskcenterToastPageClass {
	background-color: rgba(0,0,0,0.8) ;
	display: none;
}
.taskcenterToastClass {
	position: relative;
	top: 512px;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
}
.taskcenterToastClass div{
	position: absolute;
	text-align: center;
	font-weight: bold;
	color: white;
}
/*任务完成弹窗页面*/
#taskcenterTaskHasDoneToastId{
	width: 648px;
	height: 384px;
}

#taskcenterTaskHasDoneToastId .taskcenterTaskHasDoneToastBtnClass {
	top: 285px;
	left: 170px;
	width: 308px;
	height: 73px;
	line-height: 59px;
	font-size: 33px;
	color: #FFEEC2;
	background-repeat: no-repeat;
	background-size: 100%;
}
#taskcenterTaskHasDoneToastId .interlucationTitleClass {
	top: 85px;
	font-size: 36px;
	line-height: 70px;
}
/*拆卡机会弹窗*/
#taskcenterDiscardToastId {
	width: 517px;
	height: 487px;
}
.interlucationTitleClass {
	font-size: 32px;
	width: 100%;
	top: 75px;
}
.interlucationTitleClass span {
	color: rgb(255,246,0);
}
#taskcenterDiscardToastId .interlucationTitleClass {
	top: 275px;
	font-size: 32px;
	line-height: 40px;
}
#taskcenterDiscardToastId .taskcenterTaskHasDoneToastBtnClass {
	top: 368px;
	left: 140px;
	width: 241px;
	height: 73px;
	line-height: 44px;
	font-size: 25px;
	color: #FFEEC2;
	background-repeat: no-repeat;
	background-size: 100%;
}
