/*html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,abbr,address,big,em,img,q,small,strike,strong,*/
/*sub,sup,tt,var,i,dl,dt,dd,ol,ul,li,form,fieldset,label,table,caption,tbody,thead,tfoot,tr,th,td,article,*/
/*aside,canvas,details,figure,figcaption,header,footer,hgroup,menu,nav,output,section,time,mark,audio,*/
video,input,select,button{margin:0;padding:0;border:0;font-family:'微软雅黑',Arial;}
/*ul,ol,li{list-style:none;}*/
/*table{border-collapse:collapse;border-spacing:0;}*/
input,select,textarea,button{font-family:inherit;border:none}

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
}
h2 {font-family: "SimSun"; font-size: 1.5rem}
/*a{text-decoration:none;color:#000;}*/
/*a:hover{text-decoration:none;}*/
a,button,input,select,img,label{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;outline:medium none;}
input::-moz-focus-inner{border:none;padding:0;}
select, input{vertical-align:middle;}
input[type="submit"],input[type="reset"],input[type="button"],button,select{-webkit-appearance:none;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color:#ccc;
}
input:-moz-placeholder,textarea:-moz-placeholder{
    color:#ccc;
}
/*header,footer,section,article,aside,nav,figure{display:block;}*/
/*p{word-break:break-all;word-wrap:break-word;}*/
/*h1,h2,h3,h4,h5,h6,strong,i,em,address, caption, cite, code, dfn, th, var{font-weight:normal;font-style:normal;}*/
/*fieldset, img{border:none;display:block;}*/
/*html,body{-webkit-touch-callout:none;}*/
.ta-c{text-align:center;}.ta-left{text-indent:.5rem;border-bottom: 1px solid #e3e3e3;}
.col-main{color:#fc4c02;}.col-fff{color:#fff}.col-333{color:#333}.col-666{color:#666}.col-999{color:#999}
.position-r{position:relative}.position-a{position:absolute}.display-b{display:block}
.mainBgColor{background:#fc4c02}
h3{font-size:.8rem}
.content-block{margin:0;padding:0;}
.fl{float:left;}
.fr{float:right;}
.cl{zoom:1;}
.cl:after{content:"";display:table;clear:both;overflow:hidden;}
/* phone-value */
.nav{line-height:2rem;vert-align: middle;padding:.5rem;}
.nav img{display:inline-block;width:.6rem;margin-right:.5rem;margin-top:.5rem;}

.phone-value h2{font-size:1.3rem}
.phone-value h3,.phone-data{margin-top:1rem;}
.phone-value h3,.phone-list,.affirm-value .ta-left{line-height:2.25rem;border-bottom:1px solid #e3e3e3;}
.phone-list .phone-val,.phone-list .code-val{line-height:1.5rem;}
.phone-value h3{color:#585858}
.phone-list .code-val,.phone-list .phone-val{box-sizing: border-box;width:100%;padding:0 .5rem;}
.code-val,.phone-val{font-size:0.85rem;}
.phone-list .position-a{top:0;right:.5rem;}
.phone-code{font-size:.6rem;border-radius:3px;padding:10px 15px;color:#fff;}
.phone-code2{background:rgba(0,0,0,.5);color:#fff;}
.phone-submit{width:90%;margin:1.2rem 5% .5rem;box-sizing:content-box;line-height:2.25rem;font-size:.8rem;border-radius:3px;}
.phone-value p{font-size:.6rem;padding:0 5%;}

/* affirm-value */
.important-info{padding:.75rem;font-size:.7rem}
.important-info img{width:.9rem;margin-right:.5rem;vertical-align:middle}

.tips{padding-left:1.25rem;margin-top: 1.5rem;vertical-align:middle;}
.tips-left{width:.9rem;margin-left:-1.25rem;margin-top:.1rem;}
.tips-main{width:100%}

.tips-address{padding:0 .75rem 0 4.5rem;margin:0;}
.tips-address .tips-left{width:3.75rem;margin-left:-3.75rem;margin-top:0;text-indent: -.3rem;}
.tips-value,.movieTips-value{padding:0 .75rem;}

.page-title {
    
}

.tips-message {
    background-color:rgba(0,0,0,0.8);
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    width: auto;
    position: absolute;
    z-index: 2000;
    display: none;
    left: 50%;
    transform: translate(-50%);
}
