* {
	margin: 0;
	padding: 0;
}
body {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-repeat: no-repeat;
}

.goodsContainerClass {
	position: absolute;
	left: 180px;
	display: none;
}

#packGoodsContainer {
	top: 156px;	
}
#moreGoodsContainer {
	top: 552px;
}

.goodsTitleClass {
	position: relative;
	left: 475px;
	width: 617px;
	height: 50px;
	background-size: 100%;
	background-repeat: no-repeat;
}
#packGoodsListOuterContainerId {
	position: absolute;
	top: 70px;
	width: 1740px;
	height: 798px;
	overflow: hidden;
}
.goodsListClass {
	position: relative;
}

.goodsItemClass {
	position: relative;
	display: inline-block;
	width: 301px;
	height: 332px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 10px 62px 0;
}
.goodsItemPlaceHolderClass {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/packlist/goods-placeholder.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

#packGoodsList .goodsItemClass[class~=btn-focus] {
	background-image: url(../images/packlist/focus.png);		
}
#moregoodsList .goodsItemClass[class~=btn-focus] {
	background-image: url(../images/packlist/focus.png);		
}

.packGoodsItemPic {
	position: absolute;
	top: 25px;
	left: 30px;
	width: 241px;
	height: 177px;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 2;
}

.packGoodsItemName {
	position: absolute;
	top: 212px;
	width: 215px;
	margin: 0px 43px;
	height: 24px;
	line-height: 24px;
	font-size: 24px;
	font-weight: bold;
	color: #7a2920;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.packGoodsItemLabel {
    position: absolute;
    top: 244px;
    height: 24px;
    width: 215px;
    margin: 0 43px;
}

.packGoodsItemLabelPriceNow {
	position: absolute;
	display: inline-block;
	line-height: 24px;
	font-size: 24px;
	color: #F70400;
	font-weight: bold;
}
.packGoodsItemLabelTip {
	position: absolute;
	left: 95px;
	display: inline-block;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold;
	color: #3e3e3e;
}
.packGoodsItemLabelPriceOld {
	position: absolute;
	display: inline-block;
	left: 145px;
	line-height: 24px;
	font-size: 20px;
	font-weight: bold;
	color: #3e3e3e;
	text-decoration: line-through;
}

div[id^="toast"] {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -45%);
	-webkit-transform: translate(-50%, -45%);
	background-repeat: no-repeat;
	display: none;
}
#toastEmpty {
	width: 981px;
	height: 485px;
}
#toastEnd {
	width: 980px;
	height: 483px;
}
