* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
    -webkit-touch-callout: none;   
    -webkit-text-size-adjust: none;  
    -webkit-user-select: none;   
    background-color: black;  
    background-attachment:fixed;
    width:1920px;
    height: 1080px;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*标题区域*/
.header {
	position: fixed;
	top: 0px;
	left: 87px;
	width: 1746px;
	height: 160px;
}

.header div{
	float: left;
}

#headerTitle {
	position: absolute;
	top: 56px;
	/*width: 192px;*/
	height: 48px;
	color: rgba(153,153,153,1);
	font-family: "NotoSansHans-Light", sans-serif;
	font-size: 48px;
	line-height: 72px;
	letter-spacing: 0;
}

/*右上角用户信息区*/
#userinfo {
	display: none;
	position: absolute;
	right: 0px;
	height: 100%;
}
#userinfo div{
	margin: 0px 3px;
}
#userIcon {
	position: relative;
	top: 62px;
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

#userLv {
	position: relative;
	top: 68px;
	width: 50px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: cover;
}

#coinIcon {
	position: relative;
	top: 64px;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;	
}

#coinNum {
	position: relative;
	top: 66px;
	height: 28px;
	color: rgba(250,202,104,1);
	font-family: "NotoSansHans-Medium", sans-serif;
	font-size: 28px;
	line-height: 28px;
	letter-spacing: 0;	
}

.notLogin {
	position: absolute;
	top: 50px;
	right: 0px;
	width: 188px;
	height: 60px;
	background: rgba(128,128,128,0.18);
	color: rgba(204,204,204,1);
	font-family: "NotoSansHans-Medium", sans-serif;
	font-weight: bold;
	font-size: 32px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0;
	border-radius: 60px;
	display: none;
}
.notLogin[class~=btn-focus] {
	background: rgba(0,127,240,1);
	color: rgba(255,255,255,1);
	-webkit-transform: none;
	transform: none;
	border: none;
}

/*内容区*/
.container {
	position: absolute;
	top: 160px;
	width: 100%;
	height: 1900px;
	overflow: hidden;
}

.innerContainer {
	position: relative;
	top: 13px;
	left: 89px;
	width: 1742px;
	height: 1900px;
	overflow: visible;
}

/*成长曲线div*/
.curveDivClass {
	position: relative;
	width:100%;
	height: 453px;
} 

#gotCoinsPath {
	stroke:none;
}

#remainCoinsPath {
	stroke:none;
}

#markLine {
	fill:none;
	stroke: orange;
	stroke-width: 3;
}

#markPoint {
	position: absolute;
	/*width: 32px;
	height: 32px;*/
	background-image: url("../img/point.png");
	background-repeat: no-repeat;
}

#markPointTip {
	position: absolute;
	height: 36px;
	color: rgba(253,78,0,1);
	font-size: 36px;
	line-height: 54px;
	font-family: "NotoSansHans-Medium",sans-serif;
	letter-spacing: 0;
	text-align: center;
}

.xAxisMark {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 75px;
	float: left;
}

.xAxisMark div {
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.xAxisLine {
	position: absolute;
    height: 100%;
    width: 2px;
    border: 1px dashed;
    border-color: rgba(151,151,151,0.18);
    box-sizing: border-box;
    z-index: -1;
}

.xAxisEllipseMark {
	position: absolute;
	height: 28px;
	color: rgba(250,202,104,0.4);
	font-size: 28px;
	line-height: 28px;
	font-family: "NotoSansHans-Light",sans-serif;
	letter-spacing: 0;
	text-align: center;
}

.xAxisCoordinate {
	position: absolute;
	bottom: 0px;
	height: 28px;
	color: rgba(255,244,222,0.4);
	font-size: 28px;
	line-height: 42px;
	font-family: "NotoSansHans-Light",sans-serif;
	letter-spacing: 0;
	text-align: center;
	text-transform: none;
}

#curveTips {
	position: absolute;
	top: 0;
	left: 0;
	width:50%;
	height: 28px;
	font-family: "NotoSansHans-Light",sans-serif;
	font-size: 28px;
	color: rgba(102,102,102,1);
	line-height: 28px;
	letter-spacing: 0;
}

/*成长曲线区域 -start-*/
.curveBase {
	position: absolute;	
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url("../img/curveBase.png");
	background-repeat: no-repeat;
	z-index: -3;
}

.curveProgress {
	position: absolute;	
	top: 0px;
	left: 0px;
	width: 1px;
	height: 100%;
	background-image: url("../img/curveProgress.png");
	background-repeat: no-repeat;
	z-index: -2;	
}

.curveline {
	position: absolute;	
	top: 0px;
	left: 0px;
	width: 1742px;
	height: 386px;
	background-image: url("../img/curveLine.png");
	background-repeat: no-repeat;	
}
/*成长曲线区域 -end-*/


.rankPrivilege {
	position: relative;
	top: 60px;
	width: 100%;
	overflow: visible;
}

.rankTable {
	position: relative;
	top: 20px;
	width: 100%;
	overflow: hidden;
    border-collapse: collapse;
	background: rgba(117,121,126,0.18);
}

.selectedTableEffect {
	background: rgba(255,103,35,1);	
	color: rgba(255,226,71,1);
}

table th,td {
	position: relative;
	width: 217px;
	height: 55px;
	border: 1px solid black;
	text-align: center;
}

th {
	color: rgba(182,150,50,1);
	font-family: "NotoSansHans-Medium",sans-serif;
	font-size: 24px;
	line-height: 55px;
	letter-spacing: 0;
}

td {
	color: rgba(204,204,204,1);
	font-family: "NotoSansHans-Medium",sans-serif;
	font-size: 24px;
	line-height: 55px;
	letter-spacing: 0;
}

.coinsIntro {
	position: relative;
	top: 140px;
	width: 100%;
	overflow: auto;
}

.coinsGrow {
	position: relative;
	top: 200px;
	width: 100%;
	overflow: auto;
}

.howToGetPoints {
	position: relative;
	top: 260px;
	width: 100%;
	overflow: auto;
}

.sectionTitle {
	height: 54px;
	font-family: "NotoSansHans-Medium",sans-serif;
	color: rgba(255,255,255,1);
	font-size: 36px;
	line-height: 54px;
	letter-spacing: 0;
}

.sectionHasSubtitle {
	float: left;
}

.sectionSubtitle {
	height: 48px;
	font-family: "NotoSansHans-Light",sans-serif;
	color: rgba(153,153,153,1);
	font-size: 32px;
	line-height: 48px;
	letter-spacing: 0;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
}

.sectionDetails *{
	font-family: "NotoSansHans-Light",sans-serif;
	color: rgba(153,153,153,1);
	font-size: 32px;
	line-height: 50px;
	margin: 0;
	letter-spacing: 0;	
}

.btnDoTaskGetCoins {
	position: relative;
	top: 320px;
	left: 564px;
	width: 580px;
	height: 90px;
	background: rgba(128,128,128,0.18);
	color: rgba(204,204,204,1);
	font-family: "NotoSansHans-Medium",sans-serif;
	font-size: 32px;
	line-height: 90px;
	letter-spacing: 0;
	text-align: center;
}

.btnDoTaskGetCoins[class~=btn-focus] {
	background: rgba(0,127,240,1);
	color: rgba(255,255,255,1);
	-webkit-transform: none;
	transform: none;
	border: none;
}

[class^="VirtualFocus"] {
	display: block;
	visibility: hidden;
	position: absolute;
	width: 100px;
	height: 100px;
}

.VirtualFocus1 {
	top: 20%;
}

.VirtualFocus2 {
	top: 50%;
}

.VirtualFocus3 {
	top: 70%;
}

.btn-focus{
	border: 4px solid white;
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
	-webkit-transition: transform 0.1s;
	transition: transform 0.1s;
	z-index: 1;
}

.failToast {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	z-index: 1;
}