body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    width:1920px;
    height: 1080px;
    margin:0px;
    padding:0px;
    background-color: rgba(0,0,0,0.5);
}
#deviceready{
	position: absolute;
	top: 50%;
	left: 50%;
	width:1000px;
    height: 700px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background: black url('../img/bg.png') no-repeat;
}

.layer1{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
#title {
	top: 60px;
	width: 760px;
	height: 86px;
	background-size: 100%;
	background-repeat: no-repeat;
}
#prizelist {
	top: 176px;
	width: 100%;
	height: 39px;
	line-height: 39px;
	font-size: 26px;
	color: #FFE1A5;
	text-align: center;
}
#prizelist span{
	color: #FA6400;
}
#prizeIconShow, #prizeIconShow div{
	position: absolute;
}
#light {
	top: 220px;
	left: 152px;
	width: 694px;
	height: 382px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/light.png);
	animation: lightblink 4s linear infinite;
	-webkit-animation: lightblink 4s linear infinite;
}
@keyframes lightblink {
	0%  {opacity: 0.1; transform: rotate(0deg); -webkit-transform: rotate(0deg);}
	50% {opacity: 0.22; transform: rotate(180deg); -webkit-transform: rotate(180deg);}
	75% {opacity: 0.1; transform: rotate(360deg); -webkit-transform: rotate(360deg);}
	100% {opacity: 0.1; transform: rotate(360deg); -webkit-transform: rotate(360deg);}
}
@-webkit-keyframes lightblink {
	0%  {opacity: 0.1; transform: rotate(0deg); -webkit-transform: rotate(0deg);}
	50% {opacity: 0.22; transform: rotate(180deg); -webkit-transform: rotate(180deg);}
	75% {opacity: 0.1; transform: rotate(360deg); -webkit-transform: rotate(360deg);}
	100% {opacity: 0.1; transform: rotate(360deg); -webkit-transform: rotate(360deg);}
}
#box {
	top: 222px;
	left: 314px;
	width: 376px;
	height: 376px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(../img/box.png);
	animation: boxblink 4s linear infinite;
	-webkit-animation: boxblink 4s linear infinite;
}
@keyframes boxblink {
	0%  {transform: scale(1); -webkit-transform: scale(1);}
	50% {transform: scale(1.1); -webkit-transform: scale(1.1);}
	75% {transform: scale(0.9); -webkit-transform: scale(0.9);}
	100% {transform: scale(1.2); -webkit-transform: scale(1.2);}
}
@-webkit-keyframes boxblink {
	0%  {transform: scale(1); -webkit-transform: scale(1);}
	50% {transform: scale(1.1); -webkit-transform: scale(1.1);}
	75% {transform: scale(0.9); -webkit-transform: scale(0.9);}
	100% {transform: scale(1.2); -webkit-transform: scale(1.2);}
}
#star {
	top: 237px;
	left: 160px;
	width: 550px;
	height: 236px;
	background-size: 100%;
	background-repeat: no-repeat;
	animation: starblink 4s linear infinite;
	-webkit-animation: starblink 4s linear infinite;
}
@keyframes starblink {
	0%  {background-image: url(../img/star1.png);}
	33% {background-image: url(../img/star2.png);}
	66% {background-image: url(../img/star3.png);}
	100% {background-image: url(../img/star4.png);}
}
@-webkit-keyframes starblink {
	0%  {background-image: url(../img/star1.png);}
	33% {background-image: url(../img/star2.png);}
	66% {background-image: url(../img/star3.png);}
	100% {background-image: url(../img/star4.png);}
}

#prizeIconOpen {
	position: absolute;
	top: 135px;
	left: 150px;
	width: 736px;
	height: 486px;
	background-size: 100%;
	background-repeat: no-repeat;	
	background-image: url(../img/kaijiang.png);
	animation: fadein 2s linear;
	-webkit-animation: fadein 2s linear;
	display: none;
}
@keyframes fadein{
	0%   {transform: scale(0.1); -webkit-transform: scale(0.1); opacity: 0.1;}
	25%  {transform: scale(0.25); -webkit-transform: scale(0.25); opacity: 0.25;}
	50%  {transform: scale(0.5); -webkit-transform: scale(0.5); opacity: 0.5;}
	75%  {transform: scale(0.75); -webkit-transform: scale(0.75); opacity: 0.75;}
	100% {transform: scale(1); -webkit-transform: scale(1); opacity: 1;}
}
@-webkit-keyframes fadein{
	0%   {transform: scale(0.1); -webkit-transform: scale(0.1); opacity: 0.1;}
	25%  {transform: scale(0.25); -webkit-transform: scale(0.25); opacity: 0.25;}
	50%  {transform: scale(0.5); -webkit-transform: scale(0.5); opacity: 0.5;}
	75%  {transform: scale(0.75); -webkit-transform: scale(0.75); opacity: 0.75;}
	100% {transform: scale(1); -webkit-transform: scale(1); opacity: 1;}
}

#button{
	top: 568px;
	width: 308px;
	height: 72px;
	background-image: url(../img/btn.png);
	background-size: cover;
	background-repeat: no-repeat;
	line-height: 72px;
	font-size: 32px;
	color: #202020;
	text-align: center;
}
#prizeZone {
	top: 186px;
	width: 840px;
	display: none;
}
.prizeItem {
	position: relative;
	width: 394px;
	height: 100px;
	background-size: 100%;
	background-repeat: no-repeat;
	float: left;
	margin: 0 0 20px 20px;
}
.coinitem{
	background-image: url(../img/icon_coin.png);
}
.couponitem {
	background-image: url(../img/icon_coupon.png);
}

.prizeitem_num {
	position: absolute;
	width: 125px;
	height: 100px;
	line-height: 100px;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
}
.prizeitem_num span {
	font-size: 20px;
}
.coinitem .prizeitem_num {
	color: #F7B500;
}
.couponitem .prizeitem_num {
	color: #FA6400;
}

.prizeitem_title {
    position: absolute;
    left: 150px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 32px;
    font-weight: bold;
    top: 10px;
    color: white;
}

.prizeitem_expire {
	position: absolute;
    left: 150px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    top: 45px;
	color: white;
}

