* {
	margin: 0;
	padding: 0;
}
body {
	position: absolute;
	width: 1920px;
	height: 1080px;
	
	background-image: url(../images/myaward/bg-tmp.png);
	background-repeat: no-repeat;
		
}

/*页面大标题*/
#myGiftsTitle {
	position: absolute;
	top: 60px;
	left: 50%;
	height: 90px;
	line-height: 90px;
	font-size: 90px;
	font-weight: bold;
	color: white;
	transform: translateX(-50%);
}

/*我的礼物板块*/
#myGiftsContainer {
	position: absolute;
	top: 197px;
	left: 147px;
	display: none;
}

/*每种奖品的小版块容器-通用类*/
.sectionContainerClass {
	position: relative;
	margin-bottom: 25px;
	display: none;  /*初始化都是display none的*/
}
/*小版块标题-通用类*/
.sectionTitleClass {
	position: relative;
	left: 23px;
	height: 50px;
	width: 200px;
	line-height: 50px;
	font-family: "SourceHanSansCN", sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #B40000;
	text-align: center;
	background-color: white;
	border-radius: 4px;	
}

/*小版块展示入口-列表-通用类*/
.sectionListClass {
	position: relative;
	top: 11px;
	margin-bottom: 20px;
}	
/*小版块展示入口-单个入口-通用类*/
.sectionItemClass {
	position: relative;
	display: inline-block;
}
.sectionItemNormalClass {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-repeat: no-repeat;
}
.sectionItemFocusClass{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-53%, -50%);
	background-repeat: no-repeat;
	display: none;
}

/*1. 锦鲤礼包专区*/
#koiList .sectionItemClass {
	width: 246px;
	height: 289px;
	margin-right: 24px;  
}
/*锦鲤礼包-正常显示(没有焦点)时的入口图标显示*/
#koiList .sectionItemNormalClass {
	width: 230px;
	height: 260px;
	background-image: url(../images/myaward/koi.png);
}
/*锦鲤礼包-获取焦点时的入口图标显示*/
#koiList .sectionItemFocusClass{
	width: 200px;
	height: 240px;
	background-image: url(../images/myaward/koiFocus.png);
}
/*锦鲤礼包-获取焦点时的入口块处理*/
#koiList .sectionItemClass[class~=btn-focus] {
	background-image: url(../images/myaward/koiFocusBg.png);
	background-repeat: no-repeat;
}
#koiList .sectionItemClass[class~=btn-focus] .sectionItemNormalClass {
	display: none;
}
#koiList .sectionItemClass[class~=btn-focus] .sectionItemFocusClass {
	display: block;
}
/*锦鲤礼包-按键*/
#koiList .sectionItemButtonClass {
	position: absolute;
	bottom: 34px;
	left: 55px;
	width: 134px;
	height: 44px;
	background-image: url(../images/myaward/btnKoi.png);
	background-repeat: no-repeat;
}

/*2. 平台优惠红包专区*/
#couponTitle {
	width: 250px;
}
#couponList {
	top: 7px;
	left: 13px;
}
#couponList .sectionItemClass {
	width: 411px;
	height: 194px;
}
/*平台优惠红包-正常显示时的入口图标显示*/
#couponList .sectionItemNormalClass {
	width: 370px;
	height: 160px;
	top: auto;
	bottom: 10px;
	left: 10px;
	transform: none;
	background-image: url(../images/myaward/coupon.png);
	/*shadow显示,左右10px，下17px*/
	box-shadow: 10px 0px 10px -10px #000, -10px 0 10px -10px #000, 0 17px 17px -17px #000;
}

.sectionItemSupClass {
	position: absolute;
	top: 24px;
	right: 30px;
	width: 58px;
	height: 58px;
	background-image: url(../images/myaward/couponSup.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.sectionItemSupClass div{
	position: relative;
	right: 3px;
	float: right;
	font-family: "SourceHanSansCN", sans-serif;
	font-weight: bold;
	color: #FA4508;
	height: 40px;
	line-height: 40px;
	font-size: 40px;
}
#sectionItemSupMultiplyId {
	font-size: 27px;
}
/*有焦点时的圣诞帽*/
.sectionItemFocusHatClass {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 46px;
	height: 42px;
	background-image: url(../images/myaward/couponFocusHat.png);
	background-repeat: no-repeat;
	display: none;
}
/*平台优惠红包-获取焦点时的入口块处理*/
#couponList .sectionItemClass[class~=btn-focus] {
	background-image: url(../images/myaward/couponFocus.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	/*shadow显示,左右10px，下17px*/
	box-shadow: 10px 0px 10px -10px #000, -10px 0 10px -10px #000, 0 17px 17px -17px #000;
}
#couponList .sectionItemClass[class~=btn-focus] .sectionItemNormalClass {
	/*shadow隐藏*/
	box-shadow:none;
}
#couponList .sectionItemClass[class~=btn-focus] .sectionItemFocusHatClass {
	display: block;
}
/*锦鲤礼包-按键*/
#couponList .sectionItemButtonClass {
	position: absolute;
	bottom: 6px;
	right: 33px;
	width: 116px;
	height: 46px;
	background-image: url(../images/myaward/couponBtn.png);
	background-repeat: no-repeat;
}

/*3. 现金红包专区*/ 