* {
	margin: 0;
	padding: 0;
}
body {
	width: 1920px;
	height: 1080px;
	overflow: hidden;
}

/*一、我的礼物-有奖品页面*/
.myGiftsPageClass {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-repeat: no-repeat;
	display: none;	
}

/*页面大标题*/
#myGiftsTitle {
	position: absolute;
	top: 60px;
	left: 50%;
	height: 90px;
	line-height: 90px;
	font-size: 90px;
	font-weight: bold;
	color: white;
	transform: translateX(-50%);
	-webkit-transform:translateX(-50%);
}

/*我的礼物板块*/
#myGiftsOuterContainer{
	position: absolute;
	top: 197px;
	left: 147px;
	width: 1773px;
	height: 883px;
	overflow: hidden;
}
#myGiftsContainer {
	position: relative;
}

/*每种奖品的小版块容器-通用类*/
.sectionContainerClass {
	position: relative;
	margin-bottom: 25px;
	display: none;  /*初始化都是display none的*/
}
/*小版块标题-通用类*/
.sectionTitleClass {
	position: relative;
	left: 23px;
	height: 50px;
	width: 200px;
	line-height: 50px;
	font-family: "SourceHanSansCN", sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: #B40000;
	text-align: center;
	background-color: white;
	border-radius: 4px;	
	display: inline-block;
}

/*小版块展示入口-列表-通用类*/
.sectionListClass {
	position: relative;
	top: 11px;
	margin-bottom: 15x;
}	
/*小版块展示入口-单个入口-通用类*/
.sectionItemClass {
	position: relative;
	display: inline-block;
}
.sectionItemNormalClass {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	background-repeat: no-repeat;
}
.sectionItemFocusClass{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-53%, -50%);
	-webkit-transform:translate(-53%, -50%);
	background-repeat: no-repeat;
	display: none;
}

/*1. 锦鲤礼包专区*/
#koiList .sectionItemClass {
	width: 246px;
	height: 289px;
	margin-right: 24px;  
}
/*锦鲤礼包-正常显示(没有焦点)时的入口图标显示*/
#koiList .sectionItemNormalClass {
	width: 230px;
	height: 260px;
	background-image: url(../images/myaward/koi.png);
}
/*锦鲤礼包-获取焦点时的入口图标显示*/
#koiList .sectionItemFocusClass{
	width: 200px;
	height: 240px;
	background-image: url(../images/myaward/koiFocus.png);
}
/*锦鲤礼包-获取焦点时的入口块处理*/
#koiList .sectionItemClass[class~=btn-focus] {
	background-image: url(../images/myaward/koiFocusBg.png);
	background-repeat: no-repeat;
}
#koiList .sectionItemClass[class~=btn-focus] .sectionItemNormalClass {
	display: none;
}
#koiList .sectionItemClass[class~=btn-focus] .sectionItemFocusClass {
	display: block;
}
/*锦鲤礼包-按键*/
#koiList .sectionItemButtonClass {
	position: absolute;
	bottom: 34px;
	left: 55px;
	width: 134px;
	height: 44px;
	background-image: url(../images/myaward/koiBtn.png);
	background-repeat: no-repeat;
}

/*2. 平台优惠红包专区*/
#couponContainer {
	margin-bottom: 40px; /*为了跟下面的红包现金奖励保持50px的间距*/
}
#couponTitle {
	width: 250px;
}
#couponList {
	top: 7px;
	left: 13px;
}
#couponList .sectionItemClass {
	width: 411px;
	height: 194px;
}
/*平台优惠红包-正常显示时的入口图标显示*/
#couponList .sectionItemNormalClass {
	width: 370px;
	height: 160px;
	top: auto;
	bottom: 10px;
	left: 10px;
	transform: none;
	-webkit-transform:none;
	background-image: url(../images/myaward/coupon.png);
	/*shadow显示,左右10px，下17px*/
	box-shadow: 10px 0px 10px -10px #000, -10px 0 10px -10px #000, 0 17px 17px -17px #000;
}

.sectionItemSupClass {
	position: absolute;
	top: 24px;
	right: 30px;
	width: 87px;
	height: 62px;
	background-image: url(../images/myaward/couponSup.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.sectionItemSupClass div{
	position: relative;
	right: 3px;
	float: right;
	font-family: "SourceHanSansCN", sans-serif;
	font-weight: bold;
	color: #FA4508;
	height: 40px;
	line-height: 40px;
	font-size: 40px;
}
#sectionItemSupMultiplyId {
	font-size: 27px;
}
/*有焦点时的圣诞帽*/
.sectionItemFocusHatClass {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 46px;
	height: 42px;
	background-image: url(../images/myaward/couponFocusHat.png);
	background-repeat: no-repeat;
	display: none;
}
/*平台优惠红包-获取焦点时的入口块处理*/
#couponList .sectionItemClass[class~=btn-focus] {
	background-image: url(../images/myaward/couponFocus.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	/*shadow显示,左右10px，下17px*/
	/*box-shadow: 10px 0px 10px -10px #000, -10px 0 10px -10px #000, 0 17px 17px -17px #000;*/
}
#couponList .sectionItemClass[class~=btn-focus] .sectionItemNormalClass {
	/*shadow隐藏*/
	box-shadow:none;
}
#couponList .sectionItemClass[class~=btn-focus] .sectionItemFocusHatClass {
	display: block;
}
/*平台优惠红包-按键*/
#couponList .sectionItemButtonClass {
	position: absolute;
	bottom: 6px;
	right: 33px;
	width: 116px;
	height: 46px;
	background-image: url(../images/myaward/couponBtn.png);
	background-repeat: no-repeat;
}

/*3. 现金红包专区*/ 
#redbagCashContainer {
	margin-bottom: 17px;
}
#redbagCashList {
	top: 6px;
	left: -8px;
}
#redbagCashTotalId {
	font-family: "SourceHanSansCN", sans-serif;
	color: #FFFFFF;
	font-size: 24px;
	display: inline-block;
	position: relative;
	left: 31px;
}
#redbagCashList .sectionItemClass {
	width: 244px;
	height: 291px;
	margin-right: 3px;  
}
/*现金红包-正常显示(没有焦点)时的入口图标显示*/
#redbagCashList .sectionItemNormalClass {width: 200px;height: 250px; left: 47%;}
/*红包-待领取*/
#redbagCashList .redbagUncollectedClass .sectionItemNormalClass {
	background-image: url(../images/myaward/redbag.png);
	background-size: cover;
}
/*红包-已领取*/
#redbagCollectedId .sectionItemNormalClass {
	background-image: url(../images/myaward/redbagCollected.png);
	background-size: cover;
}
/*现金-待领取*/
.cashUncollectedClass .sectionItemNormalClass {background-image: url(../images/myaward/cash.png);}
.cashUncollectedClass .sectionItemFocusClass  {background-image: url(../images/myaward/cashFocus.png);}
/*现金-已领取*/
.cashCollectedClass .sectionItemNormalClass {background-image: url(../images/myaward/cashCollected.png);}
.cashCollectedClass .sectionItemFocusClass  {background-image: url(../images/myaward/cashCollectedFocus.png);}

/*现金红包-获取焦点时的入口块处理*/
#redbagCashList .sectionItemClass[class~=btn-focus] {
	background-image: url(../images/myaward/redbagFocusBg.png);
	background-repeat: no-repeat;
}
/*现金红包-按键*/
#redbagCashList .sectionItemButtonClass {
	position: absolute;
	bottom: 25px;
	left: 52px;
	width: 140px;
	height: 60px;
	background-repeat: no-repeat;
}
/*红包-待领取*/
#redbagCashList .redbagUncollectedClass .sectionItemButtonClass {background-image: url(../images/myaward/redbagBtn.png);}
/*现金-待领取*/
.cashUncollectedClass .sectionItemButtonClass {background-image: url(../images/myaward/cashBtn.png);}
/*现金-已领取*/
.cashCollectedClass .sectionItemButtonClass {background-image: url(../images/myaward/cashBtnCollected.png);}

/*红包-金额显示-待领取*/
.sectionItemTitleClass {
	position: absolute;
	top: 55px;
	font-size: 24px;
	font-weight: bold;
	color: #FFF6E5;
	width: 100%;
	text-align: center;
}
.sectionItemDetailsClass {
    position: absolute;
    top: 165px;
    width: 100%;
	font-family: "SourceHanSansCN", sans-serif;
	font-size: 20px;
	color: #FFF6E5;
	text-align: center;
}
.sectionItemDetailsClass span {
	font-size: 40px;
}

/*红包-金额显示-已领取*/
#redbagCollectedId .sectionItemTitleClass { 
	top: 215px;
	font-size: 24px;
}
.sectionItemSumClass {
	position: absolute;
	top: 55px;
	font-weight: bold;
	font-size: 18px;
	color: #CF891D;
	width: 100%;
	text-align: center;
}
#redbagCollectedId .sectionItemDetailsClass {
	top: 78px;
	font-size: 42px;
	color: #F1593F;
	font-weight: bold;
}
/*现金-待领取*/
.cashUncollectedClass .sectionItemDetailsClass {
	color: rosybrown;
	top: 107px;
} 
.sectionItemDetailsValueClass {
	font-size: 48px;
	height: 48px;
	line-height: 48px;
	font-weight: bold;
	margin-bottom: 5px;
}
.sectionItemDetailsValueClass:after {
	content: "元";
	font-family: "SourceHanSansCN", sans-serif;
	color: #FFFFFF;
	font-size: 20px;
	position: absolute;
	top: 8px;
}
.cashUncollectedClass .sectionItemDetailsValueClass:after {
	color: rosybrown;
}
.cashCollectedClass .sectionItemDetailsValueClass:after {
	content: "";
}

/*现金-已领取*/
.cashCollectedClass .sectionItemDetailsClass {
	color: rosybrown;
	top: 63px;
	text-align: left;
} 
.cashCollectedClass .sectionItemDetailsClass div:first-of-type{
	font-size: 32px;
    line-height: 24px;
}

/*4. 实物奖励 专区*/
#entityContainerId {
	margin-bottom: 23px;
}
#entityListId {
	top: 14px;
	left: -6px;
}
#entityListId .sectionItemClass {
	width: 278px;
	height: 333px;
}
/*实物奖励 -正常显示(没有焦点)时的入口图标显示*/
#entityListId .sectionItemNormalClass {
	width: 240px;
	height: 310px;
	background-image: url(../images/myaward/entity.png);
}
/*实物奖励 -获取焦点时的入口图标显示*/
#entityListId .sectionItemFocusClass{
	width: 220px;
	height: 280px;
	background-image: url(../images/myaward/entityFocus.png);
}
/*实物奖励 -获取焦点时的入口块处理*/
#entityListId .sectionItemClass[class~=btn-focus] {
	background-image: url(../images/myaward/entityFocusBg.png);
	background-repeat: no-repeat;
}
#entityListId .sectionItemClass[class~=btn-focus] .sectionItemNormalClass {
	display: none;
}
#entityListId .sectionItemClass[class~=btn-focus] .sectionItemFocusClass {
	display: block;
}
#entityListId .sectionItemClass[class~=btn-focus] .entityImgClass {
	top: 45px;
    left: 48%;
}
#entityListId .sectionItemClass[class~=btn-focus] .sectionItemButtonClass {
	bottom: 25px;
}
/*实物奖励 -按键*/
#entityListId .sectionItemButtonClass {
	position: absolute;
	bottom: 40px;
	left: 40px;
	width: 196px;
	height: 68px;
	background-image: url(../images/myaward/entityBtn.png);
	background-repeat: no-repeat;
}
#entityListId .entityImgClass {
    position: absolute;
    top: 35px;
    left: 50%;
    height: 180px;
    width: 180px;
    transform: translateX(-50%);
    -webkit-transform:translateX(-50%);
    background-repeat: no-repeat;
    background-size: cover;
}
/*5. 第三方优惠券 专区*/ 
#thirdPartyContainerId {
	/*margin-bottom: 40px;*/ 
}
#thirdPartyTitleId {
	width: 250px;
}
#thirdPartyListId {
	top: 14px;
	left: 13px;
}
#thirdPartyListId .sectionItemClass {
	width: 320px;
	height: 165px;
}
/* 第三方优惠券 -正常显示时的入口图标显示*/
#thirdPartyListId .sectionItemNormalClass {
	width: 290px;
	height: 140px;
	top: auto;
	bottom: 5px;
	left: 5px;
	transform: none;
	-webkit-transform:none;
	background-image: url(../images/myaward/thirdparty.png);
	/*shadow显示,左右10px，下17px*/
	box-shadow: 10px 0px 10px -10px #000, -10px 0 10px -10px #000, 0 17px 17px -17px #000;
}
/*第三方优惠券 -获取焦点时的入口块处理*/
#thirdPartyListId .sectionItemClass[class~=btn-focus] {
	background-image: url(../images/myaward/thirdpartyFocus.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	/*shadow显示,左右10px，下17px*/
	/*box-shadow: 10px 0px 10px -10px #000, -10px 0 10px -10px #000, 0 17px 17px -17px #000;*/
}
#thirdPartyListId .sectionItemClass[class~=btn-focus] .sectionItemNormalClass {
	/*shadow隐藏*/
	box-shadow:none;
}
#thirdPartyListId .sectionItemClass[class~=btn-focus] .sectionItemFocusHatClass {
	display: block;
}

/*二、 弹窗页面 start*/ 
.toastPageClass {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-repeat: no-repeat;
	display: none;
}
.toastPageClass>div {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

.toastPageTitleClass {
	position: absolute;
	top: 70px;
	left: 170px;
	width: 216px;
	height: 64px;
	background-image: url(../images/myaward/titleSecMyGift.png);
	background-repeat: no-repeat;
}
.toastPageTipClass {
	position: relative;
	top: 330px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform:translateX(-50%);
	font-family: "SourceHanSansCN", sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: #FFFFFF;
	text-align: center;
}
.toastPageTipClass div {
	margin-bottom: 22px;
}
/*2-1*/
.toastPageBtnClass {
	position: relative;
	top: 367px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform:translateX(-50%);
	width: 377px;
	height: 148px;
	background-image: url(../images/myaward/btnToXmasHouse.png);
	background-repeat: no-repeat;
}

/*2-2*/
.noGiftsAfterActivityEndClass .toastPageTipClass{
	top: 430px;
	font-size: 48px;
}

/*2-3*/
.koiCollectQrClass {
	position: relative;
	top: 160px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform:translateX(-50%);
	width: 395px;
	height: 395px;
	background-color: white;
	border: 7px solid white;
}
#koiCollectId .toastPageTipClass{
	top: 200px;
}
#koiCollectId .toastPageTipClass>div {
	font-size: 30px;
}
#koiCollectId .toastPageTipClass>div:first-of-type {
	font-size: 48px;
}

/*三、 弹窗对话框 start*/ 
/*3.1 锦鲤-已领取*/
.toastDialogClass {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(0,0,0,0.8);
	display: none;
}
.giftToastDialogClass {
	position: absolute;
	top: 226px;
	left: 607px;
	width: 696px;
	height: 627px;
	padding: 234px 102px 0px 102px;
	font-family: "SourceHanSansCN", sans-serif;
	font-size: 24px;
	line-height: 24px;
	color: #FFFFFF;
	background-repeat: no-repeat;
	display: none;
}
.giftToastDialogClass>div{
	margin-bottom: 20px;
	width: 500px;
}
.giftReceiverTipClass {
	margin-top: 30px;
	font-size: 20px;
}
.giftTitleClass {
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	color: #FCDD35;
	font-weight: bold;
}
hr {margin: 40px 0; width: 500px;}

/*1.2.已领取页面(红包， )*/
#toastDialogRedbagCollectedId>div {
	text-align: center;
}
#btnGiftReceiverId {
	position: relative;
	left: 135px;
	background-image: url(../images/myaward/btnContinue.png);
	width: 218px;
	height: 68px;
	margin-bottom: 40px;
}
#toastDialogRedbagCollectedId .giftReceiverTipClass {
	margin: 0 0 16px 0;
}

/*2.1.待领取页面(用于：实物 )*/
#toastDialogEntityUncollectedId>div {
	text-align: center;
}
.giftReceiverDetailsClass {
	position: relative;
	height: 200px;
}
.giftReceiverDetailsClass>div {
	display: inline-block;
}
.giftReceiverQrClass {
	position: relative;
	width: 195px;
	height: 195px;
	background-color: white;
	border: 5px solid white;
}

#toastDialogEntityUncollectedId .giftReceiverTipClass{
	position: relative;
	top: -70px;
	left: 10px;
	width: 250px;
	text-align:left;
}
#toastDialogEntityUncollectedId .giftReceiverTipClass>div {margin-bottom: 20px;}
/* 2.2.待领取页面(用于：红包 ) */
#toastDialogRedbagUncollectedId>div {text-align: center;}
#toastDialogRedbagUncollectedId .giftReceiverTipClass {margin: 0 0 20px 0;}


/*奖励弹窗css from 林心旺*/
.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 1920px;
	height: 1080px;
	background-color: rgba(0,0,0,0.8);
	overflow: hidden;
}

.santanbg,.milubg,.koibg,.koi2bg{
	background-repeat: no-repeat;
	background-size: 100%;
}
.milubg{
	background-image: url(../images/myaward/milu.png);
}
.none{
	display: none;
}

#thanks_info1,#thanks_info2,#thanks_info3{
	position: absolute;
    top: 418px;
    left: 720px;
    height: 48px;
    width: 500px;
    font-size: 36px;
    color: #ffffff;
    line-height: 48px;
    text-align: center;
    letter-spacing: 4px;
}
#thanks_info1{
	font-weight: 600;
}
#thanks_info2{
    top: 460px;
    font-size: 22px;
}
#thanks_info3{
    top: 675px;
    font-size: 16px;
    color: #fff642;
    overflow: hidden;
}
#thanks_giftsBox{
	position: absolute;
    top: 521px;
    left: 717px;
    height: 149px;
    width: 479px;
	background-image: url(../images/myaward/couponbell1.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
#thanks_giftCollectId{
	position: absolute;
    top: 521px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    height: 200px;
    width: 200px;
    border: 5px solid white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
}
#thanks_coupon,#thanks_red,#thanks_entity{
    position: absolute;
    top: 9px;
    left: 162px;
    height: 130px;
    width: 300px;
}
#thanks_couponImg{
    position: absolute;
    height: 100%;
    width: 100%;
}
#thanks_redImg,#thanks_entityImg{
	position: absolute;
    top: 0;
    left: 10px;
    height: 130px;
    width: 130px;
}
.redAwardBox,#enAwardBox{
	position: absolute;
    height: 100px;
    width: 155px;
    top: 15px;
    left: 135px;
    line-height: 46px;
    font-size: 22px;
    text-align: center;
}

#redAwardName{
	color: #757575;
}
#redAwardInfo{
	color: #f04e48;
}

#thanks_btn1,#thanks_btn2{
	position: absolute;
    top: 720px;
    left: 765px;
    height: 68px;
    width: 147px;
}
#thanks_btn2{
	left: 945px;
	width: 210px;
}
.btnName{
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
    font-size: 25px;
}
.imgBlur {
	display: block;
}
.imgFocus {
	display: none;
}
.btn-focus .imgBlur {
	display: none;
}
.btn-focus .imgFocus {
	display: block;
}
