* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
    -webkit-touch-callout: none;   
    -webkit-text-size-adjust: none;  
    -webkit-user-select: none;   
    background-color: black;  
    background-attachment:fixed;
    width:1920px;
    height: 1080px;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    overflow: hidden;
}

/*标题区域*/
.header {
	position: fixed;
	top: 0px;
	left: 87px;
	width: 1746px;
	height: 160px;
}

.header div{
	float: left;
}

#headerTitle {
	position: absolute;
	top: 56px;
	height: 72px;
	color: rgba(153,153,153,1);
	font-family: "NotoSansHans-Light", sans-serif;
	font-size: 48px;
	line-height: 72px;
	letter-spacing: 0;
}

/*右上角用户信息区*/
#userinfo {
	display: none;
	position: absolute;
	right: 0px;
	height: 100%;
}

#userinfo div{
	margin: 0px 5px;
}

#userIcon {
	position: relative;
	top: 62px;
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

#userLv {
	position: relative;
	top: 66px;
	height: 28px;
	color: rgba(253,78,0,1);
	font-family: "NotoSansHans-Medium", sans-serif;
	font-size: 28px;
	line-height: 28px;
	letter-spacing: 0;
	text-transform: none;
}

#coinIcon {
	position: relative;
	top: 64px;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;	
}

#coinNum {
	position: relative;
	top: 66px;
	height: 28px;
	color: rgba(250,202,104,1);
	font-family: "NotoSansHans-Medium", sans-serif;
	font-size: 28px;
	line-height: 28px;
	letter-spacing: 0;	
}

.notLogin {
	position: absolute;
	top: 50px;
	right: 0px;
	width: 188px;
	height: 60px;
	background: rgba(0,127,240,1);
	color: rgba(255,255,255,1);
	font-weight: bold;
	font-family: "NotoSansHans-Medium", sans-serif;
	font-size: 32px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0;
	border-radius: 60px;
	display: none;
}

/*内容区*/
.container {
	position: absolute;
	top: 160px;
	width: 100%;
	height: 100%; /*影视这里不用设置height，为什么可以显示？*/
	overflow: hidden;
}

.innerContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

.sectionTitle {
	position: relative;
	left: 87px;
	width: 500px;
	height: 58px;
	font-family: "NotoSansHans-Medium",sans-serif;
	color: rgba(255,255,255,1);
	font-size: 48px;
	line-height: 58px;
	letter-spacing: 0;
}

.vipEntryZone {
	position: absolute;
	top: 68px;
	left: 87px;
	height: 300px;
	white-space: nowrap;
}

/*vip类型区*/
.vipEntry {
	display: inline-block;
	position: relative;
	width: 858px; /*default,will be re cal*/
	height: 100%;
	margin-right: 30px;
	background: linear-gradient(-223deg, #1BE368 0%, #15CC95 100%);
	box-sizing: border-box;
}
.vipEntryIcon {
	position: absolute;
	top: 13%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
}
.vipEntryValidity {
	position: absolute;
	height: 30px;
	background: rgba(167,117,0,0.3);
	display: inline-block;
}
.vipEntrySubscribe {
	position: relative;
	height: 30px;
	left: 14px;
	font-family: "NotoSansHans-Medium",sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: rgba(255,242,207,1);
	letter-spacing: 0;
	display: inline-block;
}
.vipEntryTimeTip {
	position: relative;
	height: 30px;
	left: 20px;
	font-family: "NotoSansHans-Light",sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: rgba(255,244,222,1);
	/*display: inline-block;*/
	display: none;
}
.vipEntryTitle {
	position: absolute;
	top: 165px;
	height: 54px;
	line-height: 54px;
	width: 100%;
	text-align: center;
	font-size: 36px;
	font-family: "NotoSansHans-Medium",sans-serif;
	color: rgba(103,66,8,1);
	overflow: hidden;
}
.vipEntryDescription {
	position: absolute;
	top: 230px;
	width: 100%;
	text-align: center;
	height: 42px;
	line-height: 42px;
	font-size: 28px;
	font-family: "NotoSansHans-Light",sans-serif;
	color: rgba(80,55,13,1);
	overflow: hidden;
}

/*vip权益页*/
#vipPrivilegeId {
	position: absolute;
	top: 428px;
	border: 5px solid transparent;
	box-sizing: border-box;	
}

.vipPrivilegeDetails {
	position: absolute;
	top: 496px;
	left: 40px;
	width: 1840px;
	height: 1630px;
	background-repeat:  no-repeat;
}

[class^="VirtualFocus"] {
	display: block;
	visibility: hidden;
	position: absolute;
	width: 100px;
	height: 100px;
	float: left;
}

.VirtualFocus1 {
	top: 700px;
	left: 100px;
	bottom: 800px;
}

.btn-focus{
	border: 5px solid white;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.failToast {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	/*background: url(../img/failToast.png);*/
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	z-index: 1;
}
