* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
    -webkit-touch-callout: none;   
    -webkit-text-size-adjust: none;  
    -webkit-user-select: none;   
    background-color: black;  
    background-attachment:fixed;
    width:1920px;
    height: 1080px;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*标题区域*/
.header {
	position: fixed;
	top: 0px;
	left: 87px;
	width: 1746px;
	height: 150px;
}

.header div{
	float: left;
}

#headerTitle {
	position: absolute;
	top: 56px;
	height: 72px;
	color: rgba(153,153,153,1);
	font-family: "NotoSansHans-Light", sans-serif;
	font-size: 48px;
	line-height: 72px;
	letter-spacing: 0;
}

/*右上角用户信息区*/
#userinfo {
	display: none;
	position: absolute;
	right: 0px;
	height: 100%;
}

#userinfo div{
	margin: 0px 3px;
}

#userIcon {
	position: relative;
	top: 62px;
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

#userLv {
	position: relative;
	top: 68px;
	width: 50px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: cover;
}

#coinIcon {
	position: relative;
	top: 64px;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;	
}

#coinNum {
	position: relative;
	top: 66px;
	height: 28px;
	color: rgba(250,202,104,1);
	font-family: "NotoSansHans-Medium", sans-serif;
	font-size: 28px;
	line-height: 28px;
	letter-spacing: 0;	
}

.notLogin {
	position: absolute;
	top: 50px;
	right: 0px;
	width: 188px;
	height: 60px;
	background: rgba(128,128,128,0.18);
	color: rgba(204,204,204,1);
	font-family: "NotoSansHans-Medium", sans-serif;
	font-weight: bold;
	font-size: 32px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0;
	border-radius: 60px;
	display: none;
}
.notLogin[class~=btn-focus] {
	background: rgba(0,127,240,1);
	color: rgba(255,255,255,1);
	-webkit-transform: none;
	transform: none;
	border: none;
}

/*内容区*/
.container {
	position: absolute;
	top: 150px;
	width: 100%;
	padding-top: 16px;
	/*height: 100%;*/
	overflow: hidden;
}

.innerContainer {
	position: relative;
	width: 100%;
	height: 100%;
}


.vipEntryZone {
	position: relative;
	left: 83px;
	height: 308px;
	white-space: nowrap;
	margin-bottom: 22px;
}

/*vip类型区*/
.vipEntry {
	display: inline-block;
	position: relative;
	width: 858px; /*default,will be re cal*/
	height: 100%;
	margin-right: 22px;
	background-image: url(../img/entrybg.webp);
	background-repeat: no-repeat;
	background-size: cover;
	border: 4px solid transparent;
	box-sizing: border-box;
	background-origin: border-box;
}
.vipEntryIcon {
	position: absolute;
	top: 13%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
}
.vipEntryValidity {
	position: absolute;
	height: 40px;
	width: 138px;
	top:-4px;
	left:-4px;
	background-repeat: no-repeat;
	/*background-size: cover;*/
}

.vipEntry[class~=btn-focus] .vipEntryValidity{
	-webkit-transform: translate(4px,4px);
	transform: translate(4px,4px);
	-webkit-transition: transform 0.1s;
	transition: transform 0.1s;
}

.vipEntrySubscribe {
	position: relative;
	height: 40px;
	left: 14px;
	font-family: "NotoSansHans-Medium",sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 40px;
	color: rgba(255,242,207,1);
	letter-spacing: 0;
	display: inline-block;
}
.vipEntryTimeTip {
	position: relative;
	height: 40px;
	left: 24px;
	font-family: "NotoSansHans-Medium",sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 40px;
	color: rgba(255,244,222,1);
	/*display: inline-block;*/
	display: none;
}
.vipEntryTitle {
	position: absolute;
	top: 165px;
	height: 54px;
	line-height: 54px;
	width: 100%;
	text-align: center;
	font-size: 36px;
	font-family: "NotoSansHans-Medium",sans-serif;
	font-weight: bold;
	color: rgba(103,66,8,1);
	overflow: hidden;
}
.vipEntryDescription {
	position: absolute;
	top: 230px;
	width: 100%;
	text-align: center;
	height: 42px;
	line-height: 42px;
	font-size: 28px;
	font-family: "NotoSansHans-Light",sans-serif;
	color: rgba(80,55,13,1);
	overflow: hidden;
}

/*vip权益页*/
#vipPrivilegeId {
	position: relative;
	margin-top: 30px;
	margin-bottom: 20px;
	border: none; /*4px solid;*/
	-webkit-transform: none;
	transform: none;
}

.sectionTitle {
	position: relative;
	left: 87px;
	width: 500px;
	height: 48px;
	font-family: "NotoSansHans-Medium",sans-serif;
	font-weight: bold;
	color: rgba(255,255,255,1);
	font-size: 48px;
	line-height: 48px;
	letter-spacing: 0;
}

.vipPrivilegeDetails {
	position: relative;
	left: 40px;
	height: 950px;
	background-repeat:  no-repeat;
}

[class^="VirtualFocus"] {
	display: block;
	visibility: hidden;
	position: absolute;
	width: 100px;
	height: 100px;
	float: left;
}

.VirtualFocus1 {
	left: 100px;
	bottom: 800px;
}

.btn-focus{
	border: 4px solid white;
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
	-webkit-transition: transform 0.1s linear;
	transition: transform 0.1s linear;
	z-index: 1;
}

.failToast {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	/*background: url(../img/failToast.png);*/
	background-repeat: no-repeat;
	background-size: cover;
	display: none;
	z-index: 1;
}
