@charset "utf-8";

body {
    width: 100%;
    height: 100%;
    font-size: 36px
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    z-index: 0;
}

img {
    outline: none;
    border: 0;
}

ol,
ul {
    list-style: none;
}
.font28{
    font-size: 28px
}

.bg {
    position: absolute;
    width: 1920px;
    height: 1080px;
}

.rotate {
    position: fixed;
    left: 590px;
    top: 218px;
}


.prize {
    position: absolute;
    left: 200px;
    top: 944px;
}

.bevip {
    position: absolute;
    left: 200px;
    top: 820px;
}

.rule {
    position: absolute;
    left: 300px;
    top: 725px;
        
    font-size: 30px
}
.notbegin_rule{
    position: absolute;
    left: 1419px;
    top: 804px;    
    font-size: 30px  
}
.begin_btn {
    position: absolute;
    right: 19.5%;
    top: 37.4%;
}
#notBegin .btnFocus{
    border-bottom: solid 1px;
}
.rule_btn .btnFocus{
    border-bottom: solid 1px #00fff0;
}

.btnWrapper .btnFocus {
    background-image: url(../images/focus.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.rule_btn .btnFocus {

}
.prizeUser {
    position: absolute;
    left: 3.57%;
    bottom: 5.8%;
}
.btnWrapper .sub_btn{
    width: 247px;
    height: 100px;
    line-height: 95px;
    text-align: center;
}
.btnWrapper .sub_btn img{
    vertical-align: middle;
}

.startbtn .btnFocus {
    background: url(../images/focus1.png) no-repeat 20% 100%;
    background-size: contain;
}

.btnWrapper img {
    vertical-align: middle;
}



/*.rule,
.prize {
    line-height: 54px;
    height: 58px;
}*/

.container {
    width: 744px;
    background: #44358C;
    height: 12px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
}

#download_win {
    text-align: center;
}

#download_win p {
    color: #64f2ff;
    font-size: 32px;
}

#down-ing,
#down-error,
#down-end {
    margin-top: 283.53px;
}

#down-ing img,
#down-error img {
    margin-top: 38.34px;
}

#down-error p:nth-child(2),
#down-end p:nth-child(2) {
    margin-top: 12px;
    font-size: 24px;
    color: #FBFBFD;
}


#down-ing span,
#down-end span {
    color: #64f2ff;
    position: absolute;
    right: -48px;
    top: -6px;
}

.iconUrl {
    width: 150.75px;
    height: 150.75px;
    position: absolute;
    left: 42.9%;
    top: 18.6%;
}

#bar {
    background: #64f2ff;
    height: 100%;
    text-align: center;
    line-height: 150%;
    border-radius: 20px
}

#download_win {
    position: absolute;
    left: 430px;
    top: 286px;
    width: 1060px;
    height: 508px;
    background: url(../images/download_bg.png) no-repeat;
    z-index: 999;
}





/*张瑶*/

.pointer {
    position: fixed;
    right: 870px;
    top: 455px;
    width: 188px;
    height: 233px;
}

.startbtn .btnFocus {
    background: url("../images/focus1.png");
    animation: muted-zoom 1s;
    -webkit-animation: muted-zoom 1s;
    animation-iteration-count: 1;/* infinite无数次 */
    -webkit-animation-iteration-count: 1;
}
@keyframes muted-zoom {
    0%{
        transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.1); /*放大1.1倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
}
@-webkit-keyframes muted-zoom {
    0%{
        transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.1); /*放大1.1倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
}
.head{
    height: 123px;
    margin-bottom: 120px
}
.bg-mask {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.jiangPinResult {
    position: fixed;
    right: 50%;
    top: 50%;
    width: 877px;
    height: 595px;
    margin: -297px -438px 0 0;
    box-sizing: border-box;
    z-index: 9999;
}

.jiangPinResult.active {
    top: 50%;
    visibility: visible;
    width: 360px;
    height: 300px;
}


.jiangPinResult p {
    text-align: center;
    color: #000;
    padding: 0 110px;
    margin-top: 10px
}

.jiangPinResult .font36 {
    font-size: 36px
}

.jiangPinResult .btn_Get {
    margin-top: 0px;
    text-align: center;
    width: 100%;
    position: relative;
}

.remainingTimes {
    position: absolute;
    bottom: 142px;
    left: 1386px;
    height: 136px;
    color: #fff;
    font-size: 32px;
    z-index: 9;
    width: 410px;
    text-align: center
}
.remainingTimes p{
    height: 68px;
    line-height: 68px;
    font-weight: bold
}
.remainingTimes span {
    color: #fdf510;
    font-size: 36px;
}
#remainingTimes{
    font-size: 38px;
    padding: 0 5px;

}
.cards p {
    text-align: left;
    padding: inherit;

}

.zw {
    display: inline-block;
    width: 170px;
}

.take_photo {
    background: #fa3e5d;
    width: 335px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
}

.wx_ts {
    background: #fa3e5d;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    width: 50%;
    margin: 0 auto
}

#awardParams,#awardParams_1 {
    line-height: 35px;
    margin-bottom: 5px;
    text-align: left !important;
}

#awardParams p,
#awardParams_1 p {
    text-align: left !important;
    color: #000 !important;
}

.point {
    margin-top: 2px !important;
    color: #666666 !important;
    font-size: 24px !important;
    text-align: center;
    line-height: 45px;
}

.cards_img {
    margin: 10px auto;
    width: 80%;
    text-align: center;
}

.btn_Get .submit img {
    vertical-align: middle
}

.btn_Get .submit {
    width: 213px;
    height: 90px;
    line-height: 87px;
    display: inline-block;
    margin: 0 35px
}

.btn_Get .btnFocus {
    background-image: url(../images/win_btn_focus.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.type1_box{
    line-height: 190px;
    text-align: center;
}
#type1_img{
    display: inline-block;
    border: solid 2px #fff;
}



/*我的奖品*/

#prize {
    position: absolute;
    z-index: 90;
    background: url("../images/prize_bg.jpg");
    width: 1920px;
    height: 1080px;
    padding-top: 200px;
    box-sizing: border-box;
    overflow: hidden;
}

.prize_box {
    height: 85px;
    line-height: 85px;
    color: #fff;
    width: 1251px;
    margin: 0 auto;
    font-size: 36px;
    padding: 0 78px;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
}
#prize_box{
    overflow: hidden;
    height: 720px;
}

#prize_list .btnFocus {
    background: url("../images/prizeorderfocus.png");
}

.prize_box ul {
    position: absolute;
    z-index: 2
}

.prize_box ul li {
    display: inline-block;
    line-height: 94px
}

.prize_box .li1 {
    width: 466px;
}

.prize_box .li2 {
    width: 290px;
}

.prize_box .li3 {
    width: 350px;
}

.prize_box>img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

#prize_null p {
    color: #fff;
    text-align: center;
    font-size: 46px;
    margin: 100px auto
}

#prize_null .btnFocus {
    background-image: url(../images/prize_null_focus.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#i_konw {
    width: 300px;
    height: 89px;
    line-height: 85px;
    text-align: center;
    margin: 0 auto; margin-top: 50px
  }
#i_konw img{vertical-align: middle;}
#prize_window_box .title{
  width: 85%;
  margin: 0 auto;
  border-bottom: solid 1px #fff;
  padding: 20px 0 10px 30px
}
.user_info_box{
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  height: auto;
  overflow: -webkit-paged-y;
}
#prize_window_box .title li,.user_info_box li{
  font-size: 32px; 
}
.qrcode_box{margin:0 auto; width: 90%; text-align:left; height: 200px;margin-top: 20px;}
.prize_qrcode{background:#fff; border:solid 5px #fff; width:180px; height: 180px; float:left;  }
.prize_qrcode_info{float: left;  font-size: 30px; line-height: 190px; padding-left: 30px}
.user_info_box li{height: 40px; line-height: 40px}
.qrcode{background:#fff; border:solid 5px #fff; width:180px; height: 180px; margin: 0 auto  }
#awardList{
    width: 410px;
    height: 380px;
    word-spacing: 30px;
    overflow: hidden;
    color: white;
    display: inline-block;
    position: absolute;
    top: 340px;
    right: 110px;
    font-size: 26px;
}

#awardListTwo {
    width: 390px;
    height:380px;
    overflow: hidden;
    padding: 4px 10px;
}

.loading_img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -62px 0 0 -62px;
    width: 124px;
    height: 124px;
    display: inline-block;
    z-index: 101
}
.testspan1,.testspan2,.testspan3{
    margin-right: 1%;
    display: inline-block;
    width: 35%;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}

.testspan3 {
    width: 50%;
    padding-left: 20px;
    text-align: center;
}


.wheel{
    width: 1920px;
    height: 1080px;
    position: relative
}
#userInfo{
    position: absolute;
    top: 200px;
    z-index: 9;
    top: 20px;
    right: 20px;
    height: 100px;
    line-height: 100px;
    color: #fff
}
#userFace{
    float: left; 
    display: inline-block;
    margin-right: 20px;
    border-radius: 130px;
    background: #fff;
    width: 80px;
    height: 80px;
}
#userFace img{
    width: 80px;
    height: 80px;
    border-radius: 130px
}
#userName{
    height: 80px;
    line-height: 80px;
    float: left;
    display: inline-block;
}

#prize_window_box{
    position: absolute;
    right: 50%;
    top: 50%;
    width: 877px;
    height: 595px;
    margin: -297px -438px 0 0;
    box-sizing: border-box;
    z-index: 9999;
}
#dialogbg,#dialogbg1,#dialogbg2{
    position: absolute;
    z-index: -1
}

.prize_window{
    padding: 0 60px;
    margin-top: 20px;
}
.btn_Get{
    text-align: center
}

#notBegin,#indexhtml{
    position: relative;
}
#text1{
    word-wrap:break-word
}

.cards_img{
    margin: 10px auto;
    text-align: center;
    width: 90%;
}
#confirmInfo_btn{
    margin-top: 20px
}
.intwoline{
    display:-webkit-box !important;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:break-all;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
}
