body {
	font-size: 75%;
	font-family: "verdana, geneva, arial, helvetica, sans-serif";
	background-image: initial;
	background-repeat: repeat-x;
	background-color: #FFFFF0;
	color: #000080;
	margin: 70px;
}

h1 {font-size: 200%;}
h2 {font-size: 140%;}
h3 {font-size: 110%;}

th {background-color: #ADD8E6;}

ol {list-style: upper-roman;}
ul {list-style: circle;}

a:link {color: #000080;}
a:hover {color: red;}



