body {
	color: red;
}

h1 {
	color: #00ff00;
	text-align: center;
	text-decoration: overline;
}

h2 {
	text-decoration: underline;
}

h3 {
	text-decoration: line-through;
}

h4 {
	text-decoration: blink;
}

p.ex {
	color: rgb(0,0,255);
}

p.date {
	text-align: right;
}

p.main {
	text-align: justify;
}

p.uppercase {
	text-transform: uppercase;
}

p.lowercase {
	text-transform: lowercase;
}

p.capitalize {
	text-transform: capitalize;
}

p.fullwidth {
	text-transform: full-width;
}

p.fullsizekana {
	text-transform: full-size-kana;
}

p.indent {
	text-indent: 50px;
}

p.letterspacing1 {
	letter-spacing: normal;
}

p.letterspacing2 {
	letter-spacing: 2px;
}

p.letterspacing3 {
	letter-spacing: -3px;
}

p.lineheight1 {
	line-height: 70%;
}

p.lineheight2 {
	line-height: 200%;
}

p.direction1 {
	direction: rtl;	
}

p.direction2 {
	direction: ltr;
}

p.direction3 {
	direction: up;	
}

p.direction4 {
	direction: down;
}

p.workspacing {
	word-spacing: 20px;
}

p.whitespacenowrap {
	white-space: nowrap;
}

p.whitespacepre {
	white-space: pre;
}

p.whitespacepreline {
	white-space: pre-line;
}

p.whitespaceprewrap {
	white-space: pre-wrap;
}

img.verticalaligntexttop {
	vertical-align: text-top;
}

img.verticalaligntextbottom {
	vertical-align: text-bottom;
}

img.verticalalignbottom {
	vertical-align: bottom;
}

img.verticalalignmiddle {
	vertical-align: middle;
}

img.verticalaligntop {
	vertical-align: top;
}

img.verticalalignsub {
	vertical-align: sub;
}

img.verticalalignsuper {
	vertical-align: super;
}

span.spansub {
	vertical-align: sub;
}

span.spansuper {
	vertical-align: super;
}

p.textshadow {
	text-shadow: 5px 5px #00FF00;
}

p.textshadowblur1px {
	text-shadow: 5px 5px 1px #00FF00, 5px 5px 5px #FF0000;
}

p.textshadowblur5px {
	text-shadow: 5px 5px 5px #00FF00;
}

p.textshadowblur10px {
	text-shadow: 5px 5px 10px #00FF00;
}

p.unicodebidi {
	unicode-bidi: embed;
	direction: rtl;
}

p.unicodebidibidioverride {
	unicode-bidi: bidi-override;
	direction: rtl;
}

a {
	text-decoration: none;
}
