.guangshu 
{ 
	display:block; 
	position: relative; 
	width:800px; 
	height:450px; 
	margin:0 auto;
	overflow: hidden;
}

.guangshu:before 
{ 
	content: ""; 
	position: absolute; 
	width:200px; 
	height: 100%; 
	top: 0; 
	left: -150px; 
	overflow: hidden;
		background: -moz-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,.2)), color-stop(100%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
		background: -o-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg)
}

.guangshu:hover:before 
{ 
	left: 150%; 
	transition: left 1s ease 0s; 
}

.test {
	position: relative;
	width: 400px;
	height: 220px;
	background: linear-gradient(-30deg, rgba(255,255,255,0) 0,
												rgba(255,255,255,0) 230px,
												rgba(255,255,255,0.1) 260px,
												rgba(255,255,255,0.1) 270px,
												rgba(255,255,255,0) 300px,
												rgba(255,255,255,0) 310px) no-repeat -270px 0,
				url(../img/lightbg.jpg) no-repeat;
	transition: 1s;						
}
 
.test:hover {
	background-position: 400px 0, 0 0;
}

.img { 
	display:block; 
	position: relative; 
	width:800px; 
	height:450px; 
	margin:0 auto;
}
.img:before { content: ""; position: absolute; width:200px; height: 100%; top: 0; left: -150px; overflow: hidden;
background: -moz-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,.2)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
background: -o-linear-gradient(left, rgba(255,255,255,0)0, rgba(255,255,255,.2)50%, rgba(255,255,255,0)100%);
-webkit-transform: skewX(-25deg);
-moz-transform: skewX(-25deg)
}
.img:hover:before { left: 150%; transition: left 1s ease 0s; }
