body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../img/bg.jpg');
    width:1920px;
    height: 1080px;
    margin:0px;
    padding:0px;
}
#qrDiv {
	position: absolute;
	top: 257px;
	left: 206px;
	width: 475px;
	height: 475px;
	background-repeat: no-repeat;
	background-size: cover;
}
#qrIcon {
	position: absolute;
	left: 170px;
	top: 165px;
	width: 137px;
	height: 137px;
}

.fail {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 636px;
    height: 160px;
    line-height: 160px;
    background: rgba(0,0,0,0.8);
    text-align: center;
    font-size: 44px;
    color: white;
    border-radius: 100px;
	display: none; 
}



