body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../img/bg.jpg');
    width:1920px;
    height: 1080px;
    margin:0px;
    padding:0px;
}
#qrDiv {
	position: absolute;
	top: 257px;
	left: 206px;
	width: 475px;
	height: 475px;
	background-repeat: no-repeat;
	background-size: cover;
}
#qrIcon {
	position: absolute;
	left: 170px;
	top: 165px;
	width: 137px;
	height: 137px;
}


